<div class="search form-field form-field--default form-field--lg form-field--has-button ml-auto mr-auto">
   
    <input #q 
        (keypress)="pressKeyHandler($event, q.value)" 
        class="search__input display-block txt-center txt-size-5" 
        type="search" 
        id="search__input" 
        name="search__input" 
        placeholder="Procurar banda...">

    <button 
        type="submit" 
        class="search__button btn btn--info" 
        (click)="clickHandler(q.value)">

        <i *ngIf="!loading" class="fas fa-search animation-wiggle--hover"></i>
        <i *ngIf="loading" class="fas fa-spinner animation-rotate"></i>
    </button>

</div>