body {
    color: $body-txt-color;
    background-color: $body-bg-color; 
    font-family: $font-primary;
    font-size: $body-font-size;
    
    @include mq($max-width: $md) {
        font-size: $body-font-size * 0.9;
    }
    
    @include mq($max-width: $ml) {
        font-size: $body-font-size * 0.6;
    }

    .page-content {
        min-height: 90vh;
    }
}

a {
    color: $color-link;
    
    &:visited { color: desaturate($color-link, 30%); }
    &:hover   { color: saturate($color-link, 30%); }
    &:active  { color: saturate($color-link, 50%); }
}