<div *ngIf="!loading" class="page-video-detail">

    <!-- Se não houver informações do artista -->
    <div *ngIf="video && !artist" class="row">
        <div class="video-wrapper col ms-12 bg-color-dark p-1">
            <video-wrapper [video-detail]="video" [video-id]="video.id"></video-wrapper>
        </div>
    </div>

    <!-- Se houver informações dos dois -->
    <div *ngIf="video && artist" class="row">
        <div class="video-wrapper col ms-12 xs-12 md-8 flex-strech bg-color-dark p-1">
            <video-wrapper [video-detail]="video" [video-id]="video.id"></video-wrapper>
        </div>

        <div class="artist-wrapper col ms-12 xs-12 md-4 bg-color-light txt-color-dark p-1 txt-center">
            <artist-info [artist]="artist"></artist-info>
        </div>
    </div>

</div>