.main-navigation {
    &__title {
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    &__subtitle {
        @include mq( $max-width: $xs ) {
            font-size: 1.1rem;
        }
    }
}