.btn {
    font-weight: bold;
    padding: 0.5rem 0.7rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;

    @include border-radius($border-radius);
    @include transition( color .3s, border .3s, background .3s );

    + .btn {
        margin-left: 0.5rem;
    }

    &.btn--block {
        display: block;

        + .btn {
            margin-left: 0;
            margin-top: 0.5rem;
        }
    }

    &.btn--left {
        float: left;

        &.pos-absolute {
            float: none;
            left: 0;
        }
    }

    &.btn--right {
        float: right;

        &.pos-absolute {
            float: none;
            right: 0;
        }
    }

    &.btn--default {
        color: $color-primary;
        background-color: $color-light;
    }
    &.btn--primary {
        color: $color-lighter;
        background-color: $color-primary;

        @include hover($color-primary);
    }
    &.btn--secondary {
        color: $color-lighter;
        background-color: $color-secondary;
        
        @include hover($color-secondary);
    }
    &.btn--info {
        color: $color-lighter;
        background-color: $color-info;
        
        @include hover($color-info);
    }
    &.btn--success {
        color: $color-lighter;
        background-color: $color-success;
        
        @include hover($color-success);
    }
    &.btn--warning {
        color: $color-lighter;
        background-color: $color-warning;
        
        @include hover($color-warning);
    }
    &.btn--danger {
        color: $color-lighter;
        background-color: $color-danger;
        
        @include hover($color-danger);
    }
    &.btn--link {
        color: $color-link;
        background-color: transparent;

        &:active {
            text-decoration: underline;
        }
    }
    &.btn--lighter {
        color: $color-dark;
        background-color: $color-lighter;
        
        @include hover($color-lighter);
    }
    &.btn--muted {
        color: $color-dark;
        background-color: $color-light;
        
        @include hover($color-muted);
    }
    &.btn--dark {
        color: $color-lighter;
        background-color: $color-dark;
        
        @include hover($color-dark);
    }
}

.nav__link {
    @extend .btn;
}