.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    @include border-radius( $border-radius );

    .card__cover {
        position: relative;
        flex: 1 1 auto;
        overflow: hidden;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: $color-darker;

        img {
            width: 100%;
            height: 280px;
            object-fit: cover;
            object-position: contain;
        }

        .tag {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }
    }

    .card__content,
    .card__action {
        padding: 1rem;
        flex: 1 1 auto;
    }

    .card__content {
        position: relative;
        padding-bottom: 4rem;

        .btn {
            &.pos-absolute {
                @include mq( $max-width: $sm ) {
                    font-size: 0.7rem;
                }

                &.btn--left {
                    left: 15px;
                }
                &.btn--right {
                    right: 15px;
                }
            }
        }
    }

    .card__title {
        font-size: 1.5rem;
        height: 60px;
        width: 100%;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
        @include hover-text( $color-link );
        @include transition( color ease-in .3s );

        @include mq( $max-width: $md ) {
            height: auto;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        &--primary {
            color: $color-primary;
        }
        &--info {
            color: $color-info;
        }
        &--success {
            color: $color-success;
        }
        &--warning {
            color: $color-warning;
        }
        &--link {
            color: $color-link;
        }
        &--light {
            color: $color-light;
        }
        &--muted {
            color: $color-muted;
        }
        &--dark {
            color: $color-dark;
        }
    }

    .card__observation {
        color: lighten( $color-muted, 20% );
        font-size: 0.8rem;
        font-weight: 700;
        max-width: 45%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        @include mq( $max-width: $sm ) {
            font-size: 0.7rem;
        }

        a {
            text-decoration: none;
        }
    }

    .card__description {
        margin-bottom: 1.5rem;
        height: 78px;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
    }

    .card__author {
        color: lighten( $color-muted, 20% );
        font-size: 0.8rem;
        font-weight: 700;
    }

    &.card--horizontal {
        @include mq($min-width: $sm) {
            flex-direction: row;
            height: 240px;
            
            .card__cover {
                border-top-right-radius: 0;
    
                @include mq($min-width: $xs) {
                    width: 360px;
                    min-width: 360px;
                    flex-grow: 0;
                }
    
                img {
                    height: 100%;
                    object-position: center;
                    image-rendering: pixelated;
                }
            }   

            .card__content {
                position: relative;
                padding-bottom: 4rem;

                .card__actions {
                    padding: 1rem;
                    bottom: 0;
                    @include absolute-center('horizontal');
                }
            }
        }
    }

    &.card__detail {
        .card__title {
            font-size: 2rem;
        }
        .card__subtitle {
            font-size: 1.5rem;
            margin-top: 2rem;
            margin-bottom: 0.5rem;
        }
    }

    // Modifiers
    &.card--default {
        color: $color-dark;
        background-color: $color-light;
    }
    &.card--primary {
        color: $color-light;
        background-color: $color-primary;
    }
    &.card--secondary {
        color: $color-light;
        background-color: $color-secondary;
    }
    &.card--info {
        color: $color-light;
        background-color: $color-info;
    }
    &.card--success {
        color: $color-light;
        background-color: $color-success;
    }
    &.card--warning {
        color: $color-light;
        background-color: $color-warning;
    }
    &.card--danger {
        color: $color-light;
        background-color: $color-danger;
    }
    &.card--link {
        color: $color-light;
        background-color: $color-link;
    }
    &.card--light {
        color: $color-dark;
        background-color: $color-light;
    }
    &.card--muted {
        color: $color-dark;
        background-color: $color-muted;
    }
    &.card--dark {
        color: $color-light;
        background-color: $color-dark;
    }
}