.search {
    &__input {
        font-size: 2rem;

        @include mq( $max-width: $xs ) {
            font-size: 1.4rem;
        }
    }
    &__button {
        font-size: 2rem;

        @include mq( $max-width: $xs ) {
            font-size: 1.4rem;
        }
    }
}